/.idea
/CreatioHelper.CLI/obj
/CreatioHelper.Core/.idea
/CreatioHelper.Core/obj
/CreatioHelper/.idea
/CreatioHelper/bin
/CreatioHelper/obj
/.vs
/CreatioHelper.Core/bin
/CreatioHelper/.vs
/CreatioHelper/CreatioHelper/obj
/CreatioHelper.Agent/.idea
/CreatioHelper.Agent/bin
/CreatioHelper.Agent/obj
/CreatioHelper.Agent/.vs