/.idea
/.vs
/src/**/bin
/src/**/obj
/tests/**/bin
/tests/**/obj
/.dotnet
/src/CreatioHelper.Application/.idea
/src/CreatioHelper.Contracts/.idea
/src/CreatioHelper.Domain/.idea
/src/CreatioHelper.Shared/.idea
/src/CreatioHelper.Infrastructure/.idea
/src/CreatioHelper.Contracts/.idea
